<div class="col-8">
  <div class="row">
    <div class="col-6">
      <h1>RhoMobile Suite Docs</h1>
      Welcome to the Rhomobile Suite documentation site. Here you will find developer guides to walk you through
      activities using the framework. You will also find a complete API reference section that describes the available
      interfaces.
    </div>
    <div class="col-6">
      <img class="float-right rounded" src="https://s3.amazonaws.com/docs.tau-technologies.com/images/rhodocs-images/guide/docs_landing.jpg">
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-4">
      <h4 class="border-bottom pb-1">Get Started</h4>
      <ul>
        <li><a href="/en/<%= @docversion %>/guide/welcome">RhoMobile Suite Introduction </a></li>
        <li><a href="/en/<%= @docversion %>/guide/creating_a_project">RhoStudio Tutorial </a></li>
        <% if @docversion != 'edge' %>
          <li><a href="/en/<%= @docversion %>/../hosted/tutorial/rhoconnect">RhoConnect Tutorial </a></li>
        <% end %>
        <li><a href="/en/<%= @docversion %>/guide/kitchensink">KitchenSink Sample </a></li>
        <li><a href="/en/<%= @docversion %>/guide/remote-debug">JS Debugging on Devices </a></li>
      </ul>
    </div>
   <!-- <div class="col-4">
      <h4 class="border-bottom pb-1">Updated Guides</h4>
      <ul>
        <%# @recent_guides['results'].each do |result| %>
          <%# if !result['docexternal'].nil? && result['docexternal'] == 'True' %>
            <li>
              <a href="<%#= result['dockey'] %>" target="_blank"><%#= h Nokogiri::HTML.parse(result['title']).text %></a>
            </li>
          <%# else %>
            <li><a href="/<%#= result['dockey'] %>"><%#= h Nokogiri::HTML.parse(result['title']).text %></a></li>
          <%# end %>
        <%# end %>
      </ul>
    </div>-->
<!--    <div class="col-4">
      <h4 class="border-bottom pb-1">API Updates</h4>
      <ul>
        <%# @recent_api["results"].each do |result| %>
          <%# if !result['docexternal'].nil? && result['docexternal'] == 'True' %>
            <li>
              <a href="<%#= result['dockey'] %>" target="_blank"><%#= h Nokogiri::HTML.parse(result['title']).text %></a>
            </li>
          <%# else %>
            <li><a href="/<%#= result['dockey'] %>"><%#= h Nokogiri::HTML.parse(result['title']).text %></a></li>
          <%# end %>
        <%# end %>
      </ul>
    </div>-->
  </div>


</div>
