<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Rhomobile Docs | <%= h @title %></title>

  <!-- jquery 3.3.1 -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- jquery.pjax 2.0.1 -->
  <script type="text/javascript" src="/libs/jquery.pjax/jquery.pjax-2.0.1.js"></script>

  <!-- jquery-ui 1.12.1-->
  <link href='/libs/jquery-ui-1.12.1/jquery-ui.min.css' rel='stylesheet'>
  <script src='/libs/jquery-ui-1.12.1/jquery-ui.min.js' type='text/javascript'></script>


  <link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen,print"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css" media="screen,print"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen,print"/>


  <script type="text/javascript" src="/javascripts/application.js"></script>


  <script src='/javascripts/jquery.indextank.ize.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.indextank.autocomplete.js' type='text/javascript'></script>
</head>

<div>

  <!-- Set DocVersion and Paths -->
  <% sectionGroup = TOC.findGroup(request.path_info)
     if @docversion.nil? || @docversion == 'hosted'
       @docversion = Version::CURR_VERSION
     else
       vpath = "/en/#{@docversion}"
     end

     if @docversion != '2.2.0' # needs to stay hard-coded because we did not have folder scheme implemented
       home_path = "#{vpath}/home"
       mobile_api_path = "#{vpath}/guide/apisummary"
       mobile_guide_path = "#{vpath}/guide/welcome"
       rhoconnect_guide_path = "#{vpath}/rhoconnect/introduction"
     else
       vpath = "/en/#{@docversion}"
       home_path = "#{vpath}/home"
       mobile_api_path = "#{vpath}/rhoelements/apicompatibility"
       mobile_guide_path = "#{vpath}/rhodes/introduction"
       rhoconnect_guide_path = "#{vpath}/rhoconnect/introduction"
     end
  %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top_navbar" style="background-image: url('/img/header-bg.jpg');">

    <!-- Brand logo -->
    <a class="navbar-brand" href="<%= home_path %>">
      <img src="/images/bg/tau-logo.png" class="d-inline-block align-bottom" height="30px"/><br/>
      <span>RhoMobile Docs</span>
    </a>

    <!-- Toggler button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  ml-lg-5 justify-content-lg-between" id="navbarSupportedContent">

      <!-- Docs version selector -->
      <ul class="navbar-nav">

        <% if request.path_info != '/search' and !request.path_info.include? '/hosted/' %>
          <li id="version-selector" class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ver. <%= @docversion.nil? || @docversion %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <h6 class="dropdown-header">Choose version</h6>
              <a class="dropdown-item <%= @docversion.nil? || @docversion == Version::NEXT_VERSION ? 'active' : '' %>" data-version="<%= Version::NEXT_VERSION %>" href="#">Ver. <%= Version::NEXT_VERSION %></a>
              <a class="dropdown-item  <%= @docversion.nil? || @docversion == Version::CURR_VERSION ? 'active' : '' %>" data-version="<%= Version::CURR_VERSION %>" href="#">Ver. <%= Version::CURR_VERSION %></a>
              <a class="dropdown-item  <%= @docversion.nil? || @docversion == Version::PREV_VERSION ? 'active' : '' %>" data-version="<%= Version::PREV_VERSION %>" href="#">Ver. <%= Version::PREV_VERSION %></a>
            </div>
          </li>
        <% end %>
      </ul>

      <!-- Docs links -->
      <ul class="navbar-nav">

        <li class="nav-item <%= sectionGroup == 'Mobile API Docs' ? 'active' : '' %>">
          <a class="nav-link" href="<%= mobile_api_path %>">API Reference</a>
        </li>

        <li class="nav-item <%= sectionGroup == 'Mobile Guides' ? 'active' : '' %>">
          <a class="nav-link" href="<%= mobile_guide_path %>">RhoMobile
            Guides</a>
        </li>

        <li class="nav-item <%= sectionGroup == 'RhoConnect Guides' ? 'active' : '' %>">
          <a class="nav-link" href="<%= rhoconnect_guide_path %>">RhoConnect Guides</a>
        </li>

      </ul>

      <script async src="https://cse.google.com/cse.js?cx=001263306077091384678:fyxs89mykfa">
      </script>
      <div class="gcse-search"></div>

      <!-- Docs Search form -->
<!--      <form class="form-inline" id="searchForm" action="/search">
        <input type="text" class="form-control search-query" id="query" placeholder="Search" name="q" size="31" value="">
        <input type="hidden" class="search-query" id="version" placeholder="Search" name="v" size="31" value="<%#= @docversion %>">
      </form>-->

      <!-- Bug Report Link -->
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" data-action="report-doc-issue" href="#">
            <i class="icon icon-bug "></i>
            Report Issue
          </a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="container-fluid mt-3">

    <div id="doc_container" class="row">
      <div id="doc-navigation" class="col-xl-2 col-lg-3 col-md-4 col-sm-5 mt-1"
           <% if @print != 0 %> style="display:none"
           <% end %>>
        <% collapsed = true
           first = true
        %>
        <% if !@steps.nil? %>
          <div class='well'>
            <ul class='nav nav-list'>
              <li class="nav-header">
                <a href="/en/<%= @docversion %>/tutorial/<%= @doc %>"><i class='icon '></i> <%= @docTitle %></a></li>

              <% @steps.each do |gitlabel, title| %>
                <li class="<%= 'active' if gitlabel == @step %> ">
                  <a href='/en/<%= @docversion %>/tutorial/<%= gitlabel %>/<%= @doc %>'><%= title %></a></li>
                <% if gitlabel == @step %>
                  <% if @toc.size > 0 && @print == 0 %>
                    <ul class='nav nav-list'>
                      <% @toc.each do |section| %>
                        <li>
                          <a href="#<%= slugify(section) %>" class="muted"><i class="icon icon-angle-right"></i><%= section %>
                          </a></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>

        <% else
             sections.each do |slug, title, sectgroup, topics| %>

            <% if sectionGroup == sectgroup %>

              <% if topics && topics.length > 0 %>
                <% collapsed = false if TOC.find(request.path_info) == slug %>
                <% header_icon = collapsed ? "icon-chevron-right" : "icon-chevron-down" %>

                <ul class="list-group section m-1">
                  <li class="d-flex align-items-center pb-1" data-target="#<%= slug %>" data-toggle="collapse">
                    <i class="<%= header_icon %> mr-1 fa-fw text-muted"></i><%= title %></li>
                </ul>

                <div id="<%= slug %>" class="pl-3 <%= collapsed ? 'collapse' : 'show' %>">
                  <ul class="nav nav-pills flex-column topics">

                    <% topics.each do |slug, title, _|
                    %>
                      <% if topic_path == slug %>
                        <li class="nav-item">
                          <a class="nav-link active" onclick="return false" href="/<%= slug %>"><%= h title %></a>
                        </li>
                      <% else %>
                        <% if slug != 'rhoelements/apicompatibility' %>
                          <li class="nav-item">
                            <a class='nav-link js-pjax' href="/<%= slug %>"><%= h title %></a>
                          </li>
                        <% else %>
                          <li class="nav-item">
                            <a class="nav-link" href="/<%= slug %>">topic-3<%= h title %></a>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
                <% collapsed = true %>
              <% else %>
                <% if first
                     first = false %>
                <% else %>
                  <li class="divider"></li>
                  </ul>
                <% end %>
                <ul class="nav nav-list">
              <% end %>

            <% end %>
          <% end %>
          </ul>
        <% end %>
      </div>

      <!-- Warning if user views previous or upcoming docs version -->
      <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7">

        <% if !@docversion.nil? && @docversion != Version::CURR_VERSION && @docversion != 'hosted' %>


          <% if @docversion == Version::NEXT_VERSION %>
            <div class="alert alert-danger">
              Warning Unreleased Docs! - You may be viewing documentation that reflects an upcoming release and the
              functionality described may not be in the current version you are using. Change the version above to the
              most recent version.
            </div>
          <% else %>
            <div class="alert alert-warning">
              Warning Older Docs! - You are viewing documentation for a previous released version of RhoMobile Suite.
            </div>
          <% end %>


        <% end %>
        <!-- Page content -->
        <div id="t_content" class="topic_content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if request.host == 'docs.rhomobile.com' %>
  <!-- google analytics -->
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5554280-4']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();


  </script>
<% end %>


</body>
</html>
